* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    background-color: rgb(0, 0, 0);
    line-height: 1.6;
    color: #222222;
}

header {
    display: flex;
    align-items: left;
    justify-content: space-around;
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Styles for links in the header */
header nav ul li a {
    color: white; /* Set default link color to white */
    text-decoration: none; /* Optional: removes underline from links */
}

/* Styles for links in different states */
header nav ul li a:visited,
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a:focus {
    color: white; /* Keeps the link color white in all states */
    text-decoration: none; /* Optional: keeps the links without underline in all states */
}

h3 {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a.active {
    color: #007aff;
}

main {
    padding: 50px 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 20px; /* Changed from 'auto' to a fixed value */
}

/* Style for the contact form */
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto; /* Center the form in the container */
}

#contact-form input[type="email"], 
#contact-form textarea {
    color: black;
    width: 100%; /* Make the width consistent */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 20px; /* Space between elements */
    border: 1px solid #ddd; /* Optional: adds a border */
    border-radius: 5px; /* Optional: rounds the corners */
}

#contact-form button {
    width: 50%; /* Adjust the width of the button */
    padding: 10px 20px; /* Padding inside the button */
    margin-bottom: 20px; /* Space after the button */
    border: none;
    border-radius: 5px; /* Optional: rounds the corners */
    cursor: pointer; /* Changes the cursor on hover */
    background-color: #007aff; /* Adjust button color as needed */
    color: white; /* Text color */
}

/* Additional styles for responsiveness and aesthetics can be added as needed */


.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.large-text {
    font-size: 90px;
}

.split-layout {
    display: flex;
}

.left-side, .right-side {
    flex: 1;
}

.left-side {
    background-image: url('Assets/me.jpg');
    background-size: cover;
    background-position: center;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side p, .right-side h1, .right-side h2, .right-side h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.footer-text {
    margin-top: 10px;
}

.footer-link {
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.menu-button {
    display: none;
    margin-left: 2px;
    cursor: pointer; /* Added for better UX */
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    .left-side {
        display: block;
    }

    .right-side {
        position: relative;
        z-index: 2;
        margin-top: -200px;
    }

    .left-side img {
        width: 100%;
        height: auto;
    }

    .menu-button {
        display: block;
    }

    nav ul {
        display: none;
        margin: 10px 0;
    }

    nav ul.active {
        display: block;
    }

    nav ul.active li {
        display: block;
        margin: 10px 0;
    }

    .split-layout {
        flex-direction: column;
    }
}
