* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    line-height: 1.6;
    color: #222222;
}

header {
    display: flex;
    align-items: left; /* Vertically align items in the center */
    justify-content: space-between; /* Horizontally space out the items */
    /* Other styles for your header */
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

/* these are the links in the header */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a.active {
    color: #007aff; /* or any highlight color */
}

main {
    padding: 50px 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: auto;
}

.responsive-image {
    max-width: 100%; /* Ensures the image is no wider than its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any additional space below the image */
    margin: 0 auto; /* Optional: Centers the image if it's smaller than the container */
}

.large-text {
    font-size: 90px; /* Or any size you desire */
}

.split-layout {
    display: flex;
}

.left-side, .right-side {
    flex: 1;
}

.left-side {
    background-image: url('Assets/me.jpg');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Center the image in the div */
}

.left-side img {
    width: 100%; /* Makes the image take the full width of its container */
    height: 100%; /* Adjust the height as necessary */
    object-fit: cover; /* This will ensure the image covers the area without distorting */
}


.right-side {
    /* Styling for the right side content */
}

.right-side p, .right-side h1, .right-side h2, .right-side h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Adjust as needed */
}

.footer-text {
    margin-top: 10px; /* Adjust this value as needed */
}

.footer-link {
    /* Any additional styling for your link */
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.menu-button {
    display: none;
    margin-left: 2px;
}

@media screen and (max-width: 768px) {
    .left-side {
        display: block;
    }

    .right-side {
        position: relative;
        z-index: 2;
        margin-top: -100px;
    }

    .left-side img {
        width: 100%;
        height: auto;
    }
    .menu-button{
        display: block;
    }
    nav ul li {
        display: none;
        margin: 10px 0;
    }
    .split-layout {
        flex-direction: column;
    }
    /* More responsive design adjustments */
}

/* Additional specific styles for each section and responsive design can be added here */
